# Personal reference
archive/*

# Sample data and results
!data/
data/*
!data/sample/
!data/sample/*
!results/
results/*

# Models
models/*
#models/ipb/ipb
#models/ipa/ipa

# Paper
#!paper/
paper/*
#!paper/main.tex
#!paper/main.pdf