# Personal files
archive/*


# Cluster-related files
tools/password.txt
tools/cluster_push.sh
tools/cluster_pull.sh
tools/cluster_query.sh


# Sample data and results
!data/
data/*
!data/sample/
!data/sample/*
!results/
results/*


# Models
!models/
models/*
!models/ipa/
!models/ipa/*
!models/ipb/
!models/ipb/*


# Paper
#!paper/
paper/*
#!paper/main.tex
#!paper/main.pdf